body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.game-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
}

#start-button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.randomQuote {
    font-size: 1150px;
}

.computer {
    display:flex;
    justify-content: center;
    align-items: center;
}

#typeHere {
    display:flex;
    justify-content:center;
    align-items: bottom;
}
